.map {
  position: relative;

  .blackout {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.9;
    z-index: 1;
    transition: .3s;

    &-text {
      color: #fff;
      font-size: 24px;
    }

    .arrow-down {
      width: 30px;
      height: 30px;
      margin-left: 20px;
      background-image: url(../images/down-arrow.svg);
      background-size: 100%;
      cursor: pointer;
      transition: .3s;
      &:hover {
        transform: scale(0.8);
      }
    }
  }
}