.team {

  &-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin: auto;
    text-align: center;
    line-height: 25px;
  }

  .slider {
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &_img {
        img {
          box-shadow: -2px 1px 6px #c7c7c7;
        }
      }
      &_desc {
        width: 35%;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        text-align: right;
      }
      &_personal {
        margin-bottom: 30px;
        border-right: 5px solid $base-color;
        padding-right: 30px;
      }
      &_name {
        margin-bottom: 5px;
        font-size: 20px;
        color: #464646;
      }
      &_position {
        text-transform: uppercase;
        font-size: 14px;
        font-style: italic;
        color: #929292;;
      }
      &_about {
        margin-bottom: 30px;
        line-height: 26px;
      }
      &-statistics {
        width: 100%;
        &_block {
          margin-bottom: 30px;
        }
        &_progress {
          position: relative;
          width: 100%;
          height: 4px;
          background-color: #ccc;
          &-active {
            position: absolute;
            height: 4px;
            background-color: $base-color;
          }
        }
        &_title {
          position: relative;
          display: flex;
          justify-content: space-between;
          margin-bottom: 5px;
          span {
            font-size: 14px;
            text-transform: uppercase;
          }
        }
      }
    }

    &-choice {
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      & span {
        width: 10px;
        height: 10px;
        border: 1px solid $base-color;
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;
        transition: .2s;
        &:hover {
          transform: scale(1.4);
          background-color: #00a07c;
        }
      }
      &_active {
        background-color: $base-color;
      }
    }
  }
}